@import "public/styles/functions";

.voucher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/assets/images/voucher_bg_2134x980.png") lightgray 50% / cover no-repeat;
  border-radius: 0.75rem;
  box-shadow: 10px 14px 34px 0px rgba(0, 0, 0, 0.31);
  width: desktop-vw(737px);
  height: desktop-vh(365px);
  position: relative;

  @media (max-width: 767px) {
    width: 100%;
    height: mobile-vh(100px);
    padding: 100px 10px;
    margin: mobile-vh(80px)  0 mobile-vh(20px) 0;
  }

  &__present {
    position: absolute;
    top: desktop-vh(-43px);
    right: desktop-vw(-83px);
    width: desktop-vw(180px);
    height: desktop-vh(165px);
    object-fit: cover;
    object-position: center;
    z-index: 1;

    @media (max-width: 767px) {
      top: mobile-vh(-13px);
      right: mobile-vw(-13px);
      width: mobile-vw(50px);
      height: mobile-vh(50px);
    }

  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: desktop-vh(50px);
    margin-top: desktop-vh(40px);

    @media (max-width: 767px) {
      margin-top: mobile-vh(-30px);
      gap: mobile-vh(10px);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      width: 100%;
      z-index: 2;

      color: #F4F4F4;
      font-size: desktop-vh(40px);
      font-style: normal;
      font-weight: 700;
      line-height: desktop-vh(48px);
      text-transform: capitalize;

      @media (max-width: 767px) {
        font-size: mobile-vh(15px);
        line-height: mobile-vh(24px);
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_value {
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      color: #F4F4F4;
      font-size: desktop-vw(96px);
      font-style: normal;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}
