.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

  &_title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100vh;
  padding: 1rem;
}

.drawer {
  border-radius: 0.75rem;
  background: #F4F4F4;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 25vw;
  height: 100vh;
    padding: 1rem;
}






