/* Breakpoints */
$mobile-breakpoint: 798px;
$tablet-breakpoint: 1024px;
// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 850px;

$mobile-width: 375px;
$mobile-height: 650px;

// colors
$white : #EFEFEF;
$primary : #08080A;
$background : #F0F1F1;
$bg-card : rgba(255, 255, 255, 0.7);

// fonts
$font-primary: 'Inter';
